backup-source/
*.sql
*.xml
!sitemap.xml
*.zip
*.tar.gz
wp-admin/
wp-includes/
wp-content/plugins/
wp-content/cache/
wp-content/wflogs/
backup-source/public_html.tar.gz

backup-source/*.sql

backup-source/public_html/wp-config.php

backup-source/public_html/.private/

# Tooling
__pycache__/
*.pyc
.DS_Store
node_modules/
.vercel

